$c-blue: #639BDB;
$c-black: #272727;
$c-yellow: #FFE89C;
$c-red: #FF9C9C;
$c-purple-dark: #443D5C;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin ui-text {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: .08em;
}

@mixin hovering-panel {
  background-color: rgba($c-dark-1, .93);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #fff;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  10%, 50% {
    transform: scale(1.3);
  }
}
