#adder-container {
  display: inline-block;
  color: #fff;
  background-color: #222;
  padding: 11px 14px;

  &.is-hidden {
    pointer-events: none;
    opacity: 0.6;
  }
}

.adder__copy {
  @include ui-text;
}

#adder__shapes-container {
  display: inline-block;
}

.adder__instrument {
  display: inline-block;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  position: relative;
  margin-left: 8px;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.adder__draggable {
  width: 34px;
  height: 34px;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &.is-played {
    animation-name: bounce;
    animation-duration: .2s;
  }
}

.adder__instrument-image {
  width: 100%;
}