.adder {
  display: inline-block;
  color: #fff;
  background-color: #222;
  padding: 8px 14px;
}

.adder__copy {
  @include ui-text;
}

.adder__instrument {
  display: inline-block;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  position: relative;
  margin-left: 5px;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.adder__draggable {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &.is-played {
    animation-name: bounce;
    animation-duration: .2s;
  }
}

.adder__instrument-image {
  width: 100%;
}