#hiding-container {
  position: absolute;
  right: 0;
  top: 0;
}

.hiding__button {
  @include ui-text;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 22px 16px 21px 16px;
  cursor: pointer;
  min-width: 100px;

  &--sound {
    margin-left: 1px;
  }
}