#grid-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

.line-container {
  border-top: 1px dashed rgba(0, 0, 0, .07);
  position: absolute;
  width: 100%;

  &--eighth {
    border-top-color: rgba(0, 0, 0, .12);
  }

  &--full {
    border-top-color: rgba(0, 0, 0, .3);;
  }
}

.middle-marker {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -10px;
  background-color: #3F75B2;
  transform: translateY(-50%) rotate(45deg);
}